{{.Message}}

Todo:
ID: {{.Todo.ID}}
Title: {{.Todo.Title}}
Type: {{.Todo.Type}}
Priority: {{.Todo.Priority}}
Status: {{.Todo.Status}}
CreatedAt: {{if .Todo.CreatedAt.IsZero}}-{{else}}{{.Todo.CreatedAt}}{{end}}
UpdatedAt: {{if .Todo.UpdatedAt.IsZero}}-{{else}}{{.Todo.UpdatedAt}}{{end}}
ClosedAt: {{if .Todo.ClosedAt}}{{.Todo.ClosedAt}}{{else}}-{{end}}
DeletedAt: {{if .Todo.DeletedAt}}{{.Todo.DeletedAt}}{{else}}-{{end}}
DeleteReason: {{if .Todo.DeleteReason}}{{.Todo.DeleteReason}}{{else}}-{{end}}
Description:
{{if .Todo.Description}}{{.Todo.Description}}{{else}}-{{end}}

{{if .CommitLog}}Commit log:
{{range .CommitLog}}- ID: {{.ID}}
Message:
{{.Message}}
{{end}}

{{end}}
Opencode transcripts:
{{if .OpencodeTranscripts}}
{{range .OpencodeTranscripts}}
==> {{.Purpose}} ({{.ID}})
{{.Transcript}}
{{end}}
{{else}}
-
{{end}}

Refs: {{.Todo.ID}} {{.Todo.Title}}
