You are responding to feedback on a change (in the jujutsu working tree) that is
intended to move us towards completion of a todo. The todo may take several
changes to resolve.

{{.FeedbackBlock}}
{{if .Message}}

Commit message from the previous version:
{{.CommitMessageBlock}}
{{end}}

Changes are reviewed according to these questions:

{{template "review_questions"}}

When you make changes, write a multi-line commit message for this diff to
./.incrementum-commit-message

{{if .CommitLog}}Here are the previous changes we've made as part of this todo:
{{range .CommitLog}}- ID: {{.ID}}
Message:
{{.Message}}
{{end}}
{{end}}

{{.TodoBlock}}
