You are responding to feedback on a change that is intended to move us towards
completion of a todo.

{{.FeedbackBlock}}
{{if .Message}}

Commit message from the previous version:
{{.CommitMessageBlock}}
{{end}}

Changes are reviewed according to these questions:

{{template "review_questions"}}

When you make changes, write a multi-line commit message to ./.incrementum-commit-message
Keep changes focused on the current step.

{{if .CommitLog}}Commits so far:
{{range .CommitLog}}- ID: {{.ID}}
Message:
{{.Message}}
{{end}}
{{end}}

{{.TodoBlock}}
