Workspace root: {{.WorkspacePath}}

{{if .Feedback}}Previous feedback:
You are responding to feedback on a change that is intended to move us towards
completion of a todo.

<feedback>
{{.Feedback}}
</feedback>
{{else}}
You are implementing the next step of a todo.

Do the highest-priority remaining step toward resolution of the todo. Dot 'i's,
cross 't's, resolve the todo completely and correctly, but don't do additional
work that does not move us towards todo resolution. If the todo is already
complete, make no changes.
{{end}}

Changes are reviewed according to these questions:

- Does it do what the message says?
- Does it move us towards the goal in the todo?
- Is it _necessary_ for moving us towards the goal in the todo?
- Is it free of defects?
- Is the domain modeling coherent and sound?
- Are things in the right place?
- Does it include proper test coverage?
- Does it keep the relevant specs up to date?
- Does it conform to the norms of the code areas it modifies?
- Does it work?

When you make changes, write a multi-line commit message to ./.incrementum-commit-message
Keep changes focused on the current step.

<todo>
- ID: {{.Todo.ID}}
- Title: {{.Todo.Title}}
- Type: {{.Todo.Type}}
- Priority: {{.Todo.Priority}}

Description:
{{.Todo.Description}}
</todo>
