Review the changes in the working tree. The diff purports to complete a step
towards our todo and is described by the commit message below.

Workspace root: {{.WorkspacePath}}

<commit_message>
{{.Message}}
</commit_message>

{{if .CommitLog}}Previous commits for this todo:
{{range .CommitLog}}- ID: {{.ID}}
Message:
{{.Message}}
{{end}}
{{end}}

Review the changes:
{{template "review_questions"}}

{{.ReviewInstructions}}

{{.TodoBlock}}
