Review the changes in the jujutsu working tree. These changes were made as part
of the '{{.HabitName}}' habit and are described by the commit message below.

{{.CommitMessageBlock}}

Review the changes:
{{template "review_questions"}}

{{.ReviewInstructions}}

Habit Instructions

{{.HabitInstructions}}
