{{define "review_questions"}}- Does it do what the message says?
- Does it move us towards the goal in the todo?
- Is it _necessary_ for moving us towards the goal in the todo?
- Is it free of defects?
- Is the domain modeling coherent and sound?
- Are things in the right place?
- Does it include proper test coverage?
- Does it keep the relevant specs up to date?
- Does it conform to the norms of the code areas it modifies?
- Does it work?
{{end}}
