Generate a concise commit message for the following todo.
Write the message to .incrementum-commit-message.

Todo:
- ID: {{.Todo.ID}}
- Title: {{.Todo.Title}}
- Type: {{.Todo.Type}}
- Priority: {{.Todo.Priority}}

Description:
{{.Todo.Description}}
