{{if .Feedback}}Previous feedback:
You are responding to feedback on a change that is intended to move us towards completion of a todo.

<feedback>
{{.Feedback}}
</feedback>
{{else}}
You are implementing the next step of a todo.

Do the highest-priority remaining step toward resolution of the todo.
If the todo is already complete, do not make any changes.
When you make changes, write a multi-line commit message to ./.incrementum-commit-message
Keep changes focused on the current step.
{{end}}

<todo>
- ID: {{.Todo.ID}}
- Title: {{.Todo.Title}}
- Type: {{.Todo.Type}}
- Priority: {{.Todo.Priority}}

Description:
{{.Todo.Description}}
</todo>

